@import "tailwindcss";

@custom-variant dark (&:where(.dark *));

@theme {
  --font-color: #000000;
  --background-color: #ffffff;
  --border-color: #cecece;
  --color-blue: #397ff3;
}

.dark {
  --font-color: #ffffff !important;
  --background-color: #141820 !important;
  --border-color: #666666 !important;
}

* {
  font-family: "Open Sans";
  background-color: var(--background-color);
  color: var(--font-color);
  border-color: var(--border-color);
}

a {
  color: var(--color-blue);
}

h1 {
  font-size: 3rem;
  font-family: "Nunito";
  font-weight: 700;
}

h2 {
  font-family: "Nunito";
  font-size: 2rem;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url("/fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
}
