@import "tailwindcss";

* {
  font-family: "Open Sans";
  border-color: #cdcdcd;
}

a {
  color: var(--color-blue);
}

h1 {
  font-size: 3rem;
  font-family: "Nunito";
  font-weight: 700;
}

h2 {
  font-family: "Nunito";
  font-size: 2rem;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url("/fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
}
